
*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}

#app{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
#login-form{
    padding: 30px;
}

.user-info{
    display: none
}

#new-post{
    display: flex;
    flex-direction: column;
    gap: 12px;
    display: none;
}
.post{
    max-width: 360vw;
    max-width: 30vw;
    border: 1px solid black;
    padding: 20px;
}
